body {
  background-image: url(xcf/V1_Town_shop_view.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-backdrop-filter: blur(2px) brightness(60%);
          backdrop-filter: blur(2px) brightness(60%);
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: 1s;
}

h1, p {
  margin: 0;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.place {
  z-index: 10;
  position: absolute;
  width: calc(100vw - 20px);
  top: 0;
  background-color: rgba(0, 0, 0, 0.4117647059);
  text-align: center;
  padding: 10px;
}
.place h1 {
  color: #ffffff;
  font-size: max(3rem, 5vw);
  background-color: rgba(105, 105, 105, 0.4117647059);
  border-radius: 10px;
  margin-bottom: 10px;
}
.place p {
  color: #e0e0e0;
  font-size: max(1.5rem, 2vw);
  background-color: rgba(105, 105, 105, 0.4117647059);
  border-radius: 10px;
}
.place--open {
  transform: scaleY(1) scaleX(1) translateY(0);
  transition: 1s ease-out;
}
.place--closed {
  transform: scaleY(0) scaleX(2) skewY(20deg) translateY(-200px);
  transition: 1s ease-in;
}

.diologue {
  z-index: 15;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4117647059);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 20px 10vw 50px;
  width: 80vw;
  cursor: pointer;
}
.diologue span {
  display: flex;
  background-color: rgba(105, 105, 105, 0.4117647059);
  align-items: end;
  height: 50px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}
.diologue span img {
  border-radius: inherit;
  width: 50px;
  height: 50px;
}
.diologue span h1 {
  color: #e0e0e0;
  font-size: 2rem;
}
.diologue p {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(105, 105, 105, 0.4117647059);
  color: #ffffff;
  width: 100%;
  overflow: hidden;
  font-size: max(1.5rem, 2vw);
}
.diologue--open {
  transform: scaleY(1) scaleX(1) translateY(0);
  transition: 1s ease-out;
}
.diologue--closed {
  transform: scaleY(0) scaleX(2) skewY(-20deg) translateY(200px);
  transition: 1s ease-in;
}

.backpack {
  cursor: grab;
  width: 200px;
  position: absolute;
  display: block;
  z-index: 20;
}
.backpack img {
  position: absolute;
  width: 200px;
  display: block;
}
.backpack__slots {
  position: relative;
  top: 50px;
  left: 40px;
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.backpack--closed {
  transform: translateX(-100px) rotateZ(90deg);
  transition: 1s ease-out;
}
.backpack--open {
  transition: 1s ease-out;
}

.mainScene {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0;
}
.mainScene--img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}
.mainScene__center {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainScene__center__center {
  width: 100vw;
  height: 56.8421052618vw;
}
@media (min-aspect-ratio: 95/54) {
  .mainScene__center__center {
    width: 175.92592593vh;
    height: 100vh;
  }
}
.mainScene__center__center--doorOutside {
  transform: translateX(700%) translateY(180%);
  width: 7%;
  height: auto;
  cursor: grab;
}

.hand {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  z-index: 18;
}

.snowstorm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */