$fg-1: #e8e8e8;
$fg-2: #c2c2c2;
$fg-3: #9c9c9c;
$fg-4: #696969;
$fg-5: #353535;
$diologue-primary: #ffffff;
$diologue-secondary: #e0e0e0;
$diologue-bg-primary: #000000bb;
$diologue-bg-secondary: #696969bb;
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    // background: radial-gradient(circle,#94b4cb 0%, #23608b 100%);
    background-image: url(xcf/V1_Town_shop_view.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px) brightness(60%);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    transition: 1s;
    
}
h1, h2, p, button, a {
    margin: 0;
    // font :DD 
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}
img {
    image-rendering: pixelated;
}
.CUT {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
.holdup {
    width: 100vw;
    height: 100vh;
    background-color: rgb(9, 0, 43);
    filter: opacity(90%);
    z-index: 70;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h1 {
        color: $diologue-primary;
    }
    h2 {
        color: $diologue-secondary;
    }
    &__buttons {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: $fg-5;
            background-color: $fg-2;
            padding: 5px;
            font-size: 4vw;
            border: 10px groove $diologue-primary;
            &:hover {
                color: black;
                background-color: white;
            }
        }
        button {
            text-decoration: none;
            padding: 5px;
            background-color: $fg-2;
            color: $fg-5;
            font-size: 4vw;
            background-color: $diologue-secondary;
            border: 10px groove $diologue-primary;
            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
    &--hidden {
        display: none;
    }
}
.startPopup--hidden {
    pointer-events: none;
    background-color: transparent !important;
    color: transparent !important;
    border-width: 0 !important;
    transition: 1s !important;
    pointer-events: none !important;
    text-decoration: none !important;
    cursor: default !important;
}
.startText {
    position: absolute;
    width: calc(100vw - 100px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 60;
    padding: 50px;
    h1 {
        padding: 0;
        margin: 0;
        filter: opacity(100%);
        font-size: 6vw;
        color: $diologue-secondary;
        text-align: center;
    }
    h2 {
        padding: 0;
        margin: 0;
        filter: opacity(100%);
        font-size: 12vw;
        border: 10px groove rgb(112, 203, 255);
        color: $diologue-primary;
        background-color: $diologue-bg-primary;
        text-align: center;
    }
    hr {
        color: black;
        border: 10px inset white;

        width: calc(100% - 20px);
    }
    p {
        font-size: 2vw;
        color: $diologue-primary;
        text-align: center;
    }
    button {
        border: none;
        font-size: 10vw;
        cursor: pointer;
    }
    a {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        border: none;
        cursor: pointer;
        background-color: $diologue-secondary;
        text-decoration: none;
        color: black;
        font-size: 5vw;
    }
}
.startScreen {
    position: absolute;
    width: 100vw;
    height: 1000vh;
    background-color: rgb(9, 0, 43);
    filter: opacity(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.TEMP {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 50;
}
.tranistion{
    position: absolute;
    z-index: 40;
    background-color: black;
    transition: 1s;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    &--hidden{
        background-color: #00000000;
    }
}
.place{
    z-index: 10;
    position: absolute;
    width: calc(100vw - 20px);
    top: 0;
    background-color: $diologue-bg-primary;
    text-align: center;
    padding: 10px;
    pointer-events: none;
    h1 {
        color: $diologue-primary;
        font-size: max(3rem, 5vw);
        background-color: $diologue-bg-secondary;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    p {
        color: $diologue-secondary;
        font-size: max(1.5rem, 2vw);
        background-color: $diologue-bg-secondary;
        border-radius: 10px;
    }
    &--open{
        transform: scaleY(1) scaleX(1) translateY(0);
        transition: 1s ease-out;
    }
    &--closed{
        transform: scaleY(0) scaleX(2) skewY(20deg) translateY(-200px);
        transition: 1s ease-in;
    }
}
.diologue {
    z-index: 15;
    position: absolute;
    bottom: 0;
    background-color: $diologue-bg-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 20px 10vw 50px;
    width: 80vw;
    cursor: pointer;
    span {
        display: flex;
        background-color: $diologue-bg-secondary;
        align-items: end;
        height: 50px;
        gap: 10px;
        border-radius: 10px;
        padding: 10px;
        img {
            border-radius: inherit;
            width: 50px;
            height: 50px;
        }
        h1 {
            color: $diologue-secondary;
            font-size: 2rem;
        }
    }
    &--open{
        transform: scaleY(1) scaleX(1) translateY(0);
        transition: 1s ease-out;
    }
    &--closed{
        transform: scaleY(0) scaleX(2) skewY(-20deg) translateY(200px);
        transition: 1s ease-in;
    }
    &__text {
        display: flex;
        gap: 10px;
        width: 100%;
        p {
            border-radius: 10px;
            padding: 10px;
            background-color: $diologue-bg-secondary;
            color: $diologue-primary;
            overflow: hidden;
            font-size: max(1.5rem, 2vw);
            width: 50%;
        }
        &__buttons {
            width: 50%;
            gap: 10px;
            display: flex;
            flex-direction: column;
            button {
                background-color: $diologue-bg-secondary;
                color: $diologue-primary;
                font-size: max(1.5rem, 2vw);
                border-radius: 10px;
            }
        }
    }
}
.backpack{
    cursor: grab;
    width: 200px;
    position: absolute;
    display: block;
    z-index: 13;
    bottom: 0;
    padding-bottom: 100px;
    img {
        position: absolute;
        width: 200px;
        display: block;
    }
    &__slots {
        position: relative;
        top: 50px;
        left: 40px;
        width: 100px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    &--closed {
        transform: translateX(-130px) rotateZ(90deg);
        transition: 1s ease-out;
    }
    &--open {
        transform: translateY(-100px);
        transition: 1s ease-out;
    }
}
.mainScene {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    object-fit: contain;
    transition: 0s;
    &--img {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        top: 0;
        left: 0;
    }
    &__center {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        &__center{
            // z-index: -4;
            position: relative;
            width: 100vw;
            height: calc(100vw / 1.7592592593);
            // background-color: violet;
            @media (min-aspect-ratio : 95/54) {
                width: calc(100vh * 1.7592592593);
                height: 100vh;
            }
            &--interactable{
                height: auto;
                position: absolute;
                cursor: grab;
                &:hover {
                    filter: drop-shadow(0px 0px 10px #eeff00);
                }
            }
            //opening
            &--doorOutside{
                transform: translateX(45%) translateY(50%);
                width: 50%;
                clip-path: rect(0% 75% 60% 50%);
            }
            &--ladderOutside{
                transform: translateX(80%) translateY(0%);
                width: 45%;
                clip-path: rect(0% 100% 100% 75%);
            }
            &--snowMobile{
                transform: translateX(-23%) translateY(20%);
                width: 45%;
                clip-path: rect(70% 75% 100% 25%);
            }
            &--guid_outside{
                transform: translateX(1150%) translateY(120%);
                width: 8%;
            }
            &--snowpile_1{
                transform: translateX(120%) translateY(240%); //200 / 250
                width: 20%;
                clip-path: rect(0% 35% 50% 0%);
                opacity: 70%;
            }
            &--coin_start {
                transform: translateX(300%) translateY(30%);
                height: 17.592592593%;
                width: 10%;
            }
            //shop
            &--shop_shop_front{
                width: 100%;
                height: 100%;
                height: auto;
                position: absolute;
                z-index: 1;
                pointer-events: none;
            }
            &--shopkeep{
                transform: translateX(100%) translateY(10%);
                width: 25%;
            }
            //tower
            &--coin_tower{
                transform: translateX(50%) translateY(30%);
                height: 17.592592593%;
                width: 10%;
            }
            &--coin{
                pointer-events: none;
                width: 600%;
                height: auto;
            }
        }
    }
}
.hand {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    z-index: 0;
    padding-bottom: 100px;
    input {
        z-index: 18;
        cursor: pointer;
    }
}
.snowstorm {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    pointer-events: none;
}
// .interactables {
//     z-index: -5;
//     width: 100vw;
//     height: calc(100vh - 20px);
//     padding-top: 10px;
//     position: absolute;
//     display: flex;
//     justify-content: space-between;
//     &__slot {
//         width: 100%;
//         height: 100%;
//         position: relative;
//         img {
//             bottom: 0;
//             position: absolute;
//             width: 100%;
//             height: initial;
//             object-fit: cover;
//         }
//     }
// }
// .background {
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     z-index: -10;
//     img {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }