$fg-1: #e8e8e8;
$fg-2: #c2c2c2;
$fg-3: #9c9c9c;
$fg-4: #696969;
$fg-5: #353535;
$diologue-primary: #ffffff;
$diologue-secondary: #e0e0e0;
$diologue-bg-primary: #00000069;
$diologue-bg-secondary: #69696969;
body {
    // background: radial-gradient(circle,#94b4cb 0%, #23608b 100%);
    background-image: url(xcf/V1_Town_shop_view.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px) brightness(60%);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 1s;
}
h1, p {
    margin: 0;
    // font :DD 
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.place{
    z-index: 10;
    position: absolute;
    width: calc(100vw - 20px);
    top: 0;
    background-color: $diologue-bg-primary;
    text-align: center;
    padding: 10px;
    h1 {
        color: $diologue-primary;
        font-size: max(3rem, 5vw);
        background-color: $diologue-bg-secondary;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    p {
        color: $diologue-secondary;
        font-size: max(1.5rem, 2vw);
        background-color: $diologue-bg-secondary;
        border-radius: 10px;
    }
    &--open{
        transform: scaleY(1) scaleX(1) translateY(0);
        transition: 1s ease-out;
    }
    &--closed{
        transform: scaleY(0) scaleX(2) skewY(20deg) translateY(-200px);
        transition: 1s ease-in;
    }
}
.diologue {
    z-index: 15;
    position: absolute;
    bottom: 0;
    background-color: $diologue-bg-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 20px 10vw 50px;
    width: 80vw;
    cursor: pointer;
    span {
        display: flex;
        background-color: $diologue-bg-secondary;
        align-items: end;
        height: 50px;
        gap: 10px;
        border-radius: 10px;
        padding: 10px;
        img {
            border-radius: inherit;
            width: 50px;
            height: 50px;
        }
        h1 {
            color: $diologue-secondary;
            font-size: 2rem;
        }
    }
    p {
        border-radius: 10px;
        padding: 10px;
        background-color: $diologue-bg-secondary;
        color: $diologue-primary;
        width: 100%;
        overflow: hidden;
        font-size: max(1.5rem, 2vw);
    }
    &--open{
        transform: scaleY(1) scaleX(1) translateY(0);
        transition: 1s ease-out;
    }
    &--closed{
        transform: scaleY(0) scaleX(2) skewY(-20deg) translateY(200px);
        transition: 1s ease-in;
    }
}
.backpack{
    cursor: grab;
    width: 200px;
    position: absolute;
    display: block;
    z-index: 20;
    img {
        position: absolute;
        width: 200px;
        display: block;
    }
    &__slots {
        position: relative;
        top: 50px;
        left: 40px;
        width: 100px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    &--closed {
        transform: translateX(-100px) rotateZ(90deg);
        transition: 1s ease-out;
    }
    &--open {
        transition: 1s ease-out;
    }
}
.mainScene {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    object-fit: contain;
    &--img {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        top: 0;
        left: 0;
    }
    &--door_outside {
        transform: translateX(47vw) translateY(40vh);
        width: 0;
        height: 0;
        img{
            transform: translateX(-50%) translateY(-50%);
            width: 10vw;
            @media (min-aspect-ratio : 95/54) {
                height: 20vh;
                width: auto;
            }
        }
        // object-fit: contain;
        // position: absolute;
        // width:10vw;
        // height: auto;
        // top: 0;
        // left: 0;
        // object-fit: contain;
        // @media (min-aspect-ratio : 95/54) {
        //     height: 25vh;
        //     width: auto;
        //     transform: translateX(53vw) translateY(calc(40vh - 12.5vh));
        // }
    }
}
.hand {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    z-index: 18;
}
.snowstorm {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    pointer-events: none;
}
// .interactables {
//     z-index: -5;
//     width: 100vw;
//     height: calc(100vh - 20px);
//     padding-top: 10px;
//     position: absolute;
//     display: flex;
//     justify-content: space-between;
//     &__slot {
//         width: 100%;
//         height: 100%;
//         position: relative;
//         img {
//             bottom: 0;
//             position: absolute;
//             width: 100%;
//             height: initial;
//             object-fit: cover;
//         }
//     }
// }
// .background {
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     z-index: -10;
//     img {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }